nbproject
Makefile
CMakeLists.txt
cmake-build-debug
.vs
out
CMakeLists.txt
CMakePresets.json
.dep.inc
.vscode/settings.json
build
dist
.qmake.stash
source_resource.rc
*.bak
build-source-Desktop_Qt_6_6_0_MinGW_64_bit-Debug